{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <th> Album name</th>
        <th> rpm </th>
        <th> owned </th>
    </tr>
    {% for album in albums %}
    <tr>
        <td> {{ album.name }} </td>
        <td> {{ album.rpm }} </td>
        <td> {{ album.owned }} </td>
        <td>
            <form method="POST" action="{{ url_for('albums_set_owned', album_id = album.id) }}">
                <input type="submit", value="Change if owned"/>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}