{% extends "layout.html" %}

{% block body %}
<form method="POST", action="{{ url_for('albums_create') }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.rpm.label }}
            </td>
            <td>
                {{ form.rpm }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.owned.label }}
            </td>
            <td>
                {{ form.owned }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit", value="add new album"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}